{% extends 'watchinflation/base.html' %}
{% load static %}

{% block content %}

<section class="main-content">
		<div class="container">
            <div class="row">
                <div class="col-lg-12 col-sm-12 mb-12">
                     <div class="post-card">
						<div class="post-thumb">
                           <h3>
                            Некоторая информация о проекте.
                            </h3>
                <a href="#"><img src="{% static 'watchinflation/images/imgPost6.jpg' %}" alt=""></a>
						</div>
                    <div class="post-details-post">
                        <p>Этот проект является результатом желания проверить информацию из средств массовой информации,
                            а вернее те цифры величины текущей инфляции, ее темпа роста за периоды и т.д.,
                            которые публикуются в этих самых средствах со ссылкой на Росстат или без таковой.
                            В течении последних десяти лет значения «официальной» инфляции не совпадает с тем,
                            что наблюдают создатели этого сайта, оценивая собственные траты, а официальные «инфляционные
                            ожидания» не совпадают с их (составителей) «инфляционными ожиданиями». В связи с таким,
                            весьма прискорбным жизненным диссонансом, было принято решение: собирать чеки за
                            систематические покупки и, соответствующим образом их обработав, построить графики инфляции
                            в одной, отдельно взятой семье.
                            Сайт, на котором вы находитесь – это первая попытка построить графики и опубликовать их.
                            Эти данные можно посмотреть в разделе: Построение графиков.
                            К сожалению, в процессе сбора чеков за покупки, это период с 2018 года по настоящее время,
                            состав команды, занимающейся этим менялся, поэтому еще какое-то время информацию на сайте
                            нельзя будет считать корректной. Её еще нужно «причесать», введя коэффициенты,
                            которые позволят нивелировать изменение состава команды.
                            Кроме собственно графиков, на сайте уже выкладываются некоторые статьи по теории инфляции,
                            которые могут быть интересны для понимания, что такое инфляция и почему это не ругательное
                            слово, а обычный и неизбежный процесс в экономической жизни любого общества.
</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>

{% endblock %}
